/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  margin: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Inconsolata", monospace;
  color: #ededed;
  background-color: #282834;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: #ededed;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2)); }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Page
 */
.page {
  height: 100%; }

/**
 * Clearfix
 */
/**
  * Global Border Box Sizing
 */
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Webfont Loader
 */
.wf-loading {
  opacity: 0; }

.wf-active {
  -webkit-transition: .3 opacity;
  transition: .3 opacity; }

/**
 * Links and Buttons
 */
a {
  color: #ededed; }
  a.fancy-link, .site-header nav ul li a.nav-link.current {
    padding: 5px 15px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: solid 2px transparent;
    text-decoration: none; }
    a.fancy-link.green, .site-header nav ul li a.green.nav-link.current {
      border: solid 2px #24cc89;
      color: #24cc89; }
    a.fancy-link.red, .site-header nav ul li a.red.nav-link.current {
      border: solid 2px #d73737;
      color: #d73737; }
    a.fancy-link.purple, .site-header nav ul li a.purple.nav-link.current {
      border: solid 2px #804eca;
      color: #804eca; }
    a.fancy-link.blue, .site-header nav ul li a.blue.nav-link.current {
      border: solid 2px #347fd5;
      color: #347fd5; }

/*  Site Elements */
/**
 *
 * Site Header and Navigation Bar
 */
.site-header {
  height: 80px;
  padding: 10px 10%;
  background: #262631; }
  .site-header .avatar {
    height: 100%;
    width: 50px;
    display: inline-block; }
    .site-header .avatar img {
      height: 100%;
      width: auto; }
  .site-header nav {
    display: inline-block; }
    .site-header nav ul {
      list-style-type: none; }
      .site-header nav ul li {
        display: inline-block;
        text-align: center; }
        .site-header nav ul li .nav-link {
          padding: 5px 15px;
          -webkit-border-radius: 3px;
                  border-radius: 3px;
          color: white;
          border: solid 2px #262631; }

.site-footer {
  height: 40px;
  background-color: #282834; }

.splash {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .splash #intro {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin: auto; }
  .splash #avatar {
    width: 200px;
    margin: 5px auto; }
  .splash #greeting {
    text-align: center;
    margin-bottom: 0; }
  .splash #title {
    text-align: center;
    color: #60606c; }

/* Section Blog */
#blog {
  width: 100%; }

/* Wrappers */
.container {
  width: 80%;
  margin: auto; }

.wrapper {
  width: 100%; }

/* Solarized Dark

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #002b36  background
base01    #586e75  comments / secondary content
base1     #93a1a1  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/
code {
  background-color: transparent; }

.highlight {
  background-color: #1b1b22;
  color: #93a1a1;
  border: none;
  padding: 15px; }

.highlight .c {
  color: #586e75; }

/* Comment */
.highlight .err {
  color: #93a1a1; }

/* Error */
.highlight .g {
  color: #93a1a1; }

/* Generic */
.highlight .k {
  color: #859900; }

/* Keyword */
.highlight .l {
  color: #93a1a1; }

/* Literal */
.highlight .n {
  color: #93a1a1; }

/* Name */
.highlight .o {
  color: #859900; }

/* Operator */
.highlight .x {
  color: #cb4b16; }

/* Other */
.highlight .p {
  color: #93a1a1; }

/* Punctuation */
.highlight .cm {
  color: #586e75; }

/* Comment.Multiline */
.highlight .cp {
  color: #859900; }

/* Comment.Preproc */
.highlight .c1 {
  color: #586e75; }

/* Comment.Single */
.highlight .cs {
  color: #859900; }

/* Comment.Special */
.highlight .gd {
  color: #2aa198; }

/* Generic.Deleted */
.highlight .ge {
  color: #93a1a1;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #dc322f; }

/* Generic.Error */
.highlight .gh {
  color: #cb4b16; }

/* Generic.Heading */
.highlight .gi {
  color: #859900; }

/* Generic.Inserted */
.highlight .go {
  color: #93a1a1; }

/* Generic.Output */
.highlight .gp {
  color: #93a1a1; }

/* Generic.Prompt */
.highlight .gs {
  color: #93a1a1;
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #cb4b16; }

/* Generic.Subheading */
.highlight .gt {
  color: #93a1a1; }

/* Generic.Traceback */
.highlight .kc {
  color: #cb4b16; }

/* Keyword.Constant */
.highlight .kd {
  color: #268bd2; }

/* Keyword.Declaration */
.highlight .kn {
  color: #859900; }

/* Keyword.Namespace */
.highlight .kp {
  color: #859900; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #268bd2; }

/* Keyword.Reserved */
.highlight .kt {
  color: #dc322f; }

/* Keyword.Type */
.highlight .ld {
  color: #93a1a1; }

/* Literal.Date */
.highlight .m {
  color: #2aa198; }

/* Literal.Number */
.highlight .s {
  color: #2aa198; }

/* Literal.String */
.highlight .na {
  color: #93a1a1; }

/* Name.Attribute */
.highlight .nb {
  color: #B58900; }

/* Name.Builtin */
.highlight .nc {
  color: #268bd2; }

/* Name.Class */
.highlight .no {
  color: #cb4b16; }

/* Name.Constant */
.highlight .nd {
  color: #268bd2; }

/* Name.Decorator */
.highlight .ni {
  color: #cb4b16; }

/* Name.Entity */
.highlight .ne {
  color: #cb4b16; }

/* Name.Exception */
.highlight .nf {
  color: #268bd2; }

/* Name.Function */
.highlight .nl {
  color: #93a1a1; }

/* Name.Label */
.highlight .nn {
  color: #93a1a1; }

/* Name.Namespace */
.highlight .nx {
  color: #93a1a1; }

/* Name.Other */
.highlight .py {
  color: #93a1a1; }

/* Name.Property */
.highlight .nt {
  color: #268bd2; }

/* Name.Tag */
.highlight .nv {
  color: #268bd2; }

/* Name.Variable */
.highlight .ow {
  color: #859900; }

/* Operator.Word */
.highlight .w {
  color: #93a1a1; }

/* Text.Whitespace */
.highlight .mf {
  color: #2aa198; }

/* Literal.Number.Float */
.highlight .mh {
  color: #2aa198; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #2aa198; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #2aa198; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #586e75; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #2aa198; }

/* Literal.String.Char */
.highlight .sd {
  color: #93a1a1; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #2aa198; }

/* Literal.String.Double */
.highlight .se {
  color: #cb4b16; }

/* Literal.String.Escape */
.highlight .sh {
  color: #93a1a1; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #2aa198; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #2aa198; }

/* Literal.String.Other */
.highlight .sr {
  color: #dc322f; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #2aa198; }

/* Literal.String.Single */
.highlight .ss {
  color: #2aa198; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #268bd2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268bd2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #268bd2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #268bd2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #2aa198; }

/* Literal.Number.Integer.Long */
/* Styling for blogs */
.blog-post {
  padding: 50px 0px;
  border-bottom: solid 1px #1d1d25; }
  .blog-post .blog-post-header {
    margin-bottom: 20px; }
  .blog-post .blog-post-title {
    font-weight: bold;
    font-size: 1.8em;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px; }
  .blog-post .blog-post-category {
    display: inline-block;
    background-color: #bd5158;
    padding: 0px 15px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    text-align: center;
    margin-bottom: 10px; }
  .blog-post .blog-post-date {
    display: inline-block;
    font-size: 1.2em;
    color: #60606c;
    margin-bottom: none; }
  .blog-post:last-of-type {
    border-bottom: none; }

/* Category Tag Colors */
.blog-post-category.red {
  background-color: #bd5158; }

.blog-post-category.blue {
  background-color: #5b64c2; }
